div .VideoListing {
    display: flex;
    flex-wrap: wrap;

}

.videoDescrip {
    flex: 1 0 20%; /* explanation below */
      margin: 20px;

}

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);
}